@font-face {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 300;
	font-display: swap;
	src: url(./Poppins/Poppins-Light.ttf) format('ttf');
}
@font-face {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url(./Poppins/Poppins-Regular.ttf) format('ttf');
}
@font-face {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 500;
	font-display: swap;
	src: url(./Poppins/Poppins-Medium.ttf) format('ttf');
}
@font-face {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url(./Poppins/Poppins-Bold.ttf) format('ttf');
}

@font-face {
	font-family: 'Space Mono';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url(./Space_Mono/SpaceMono-Regular.ttf)
		format('ttf');
}
